.navbar-container {
    display: flex;
    width: 100%;
    height: 60px;
    position: sticky; /* 'sticks' the element where it's rendered, doesn't let it move, so because we're making this at the top it'll stick to the top */
    padding-bottom: 10px;
    background-color: #2067e3;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    height: 100%;
    align-items: center;
}

li {
    padding: 8px;
}

a, .link {
    text-decoration: none;
    padding: 5px;
    border-radius: 7px;
}

.link {
    padding-top: 5px;
}



.links > a:hover, .link:hover {
    background-color: #8323fd;
}

.projects-container {
    display: flex;
    width: max-content;
    flex-direction: row;
}



.links-dropdown {
    position: absolute;
    background-color: #2067e3;
    right: 0;
    top: 60px;
    border-top: 1px solid #fafafa;
    box-shadow: 4px 8px 8px -4px rgba(139,161,199,0.75);

}

.projects-list{
    list-style-type: none;
}

.logo > h2 {
    color: white;
    padding-left: 5px;
    padding-bottom: 5px;
}

.links > svg {
    color: #fafafa;
}